<div class="layui-row">
    <label>名称:</label>
    <span th:text="${customer.companyName}">-</span>
</div>
<div class="layui-row">
    <label>法人:</label>
    <span th:text="${customer.legalPerson}"></span>
</div>
<div class="layui-row">
    <label>注册号:</label>
    <span th:text="${customer.registrationNumber}">-</span>
</div>
<div class="layui-row">
    <label>注册地址:</label>
    <span th:text="${customer.registrationAddress}">-</span>
</div>
<div class="layui-row">
    <label>通讯地址:</label>
    <span th:text="${customer.postalAddress}">-</span>
</div>
<div class="layui-row">
    <label>电话号码:</label>
    <span th:text="${customer.telePhoneNumber}">-</span>
</div>
<div class="layui-row">
    <label>电子邮件:</label>
    <span th:text="${customer.email}">-</span>
</div>
<div class="layui-row">
    <label>公司网页:</label>
    <span th:text="${customer.website}">-</span>
</div>
<div class="layui-row">
    <label>客户联系人:</label>
    <span th:text="${customer.contactName}">-</span>
</div>
<div class="layui-row">
    <label>联系人部门:</label>
    <span th:text="${customer.contactDept}">-</span>
</div>
<div class="layui-row">
    <label>联系人职位:</label>
    <span th:text="${customer.contactPosition}">-</span>
</div>
<div class="layui-row">
    <label>联系人座机:</label>
    <span th:text="${customer.contactTelephone}">-</span>
</div>
<div class="layui-row">
    <label>联系人手机:</label>
    <span th:text="${customer.contactPhone}">-</span>
</div>
<div class="layui-row">
    <label>公司创立日期:</label>
    <span th:text="${customer.creationDate}">-</span>
</div>
<div class="layui-row">
    <label>注册资本(万元):</label>
    <span th:text="${customer.registeredCapital}">-</span>
</div>
<div class="layui-row">
    <label>公司性质:</label>
    <span th:text="${customer.corporateNature}">-</span>
</div>
<div class="layui-row">
    <label>税务号:</label>
    <span th:text="${customer.taxation}">-</span>
</div>
<div class="layui-row">
    <label>销售员:</label>
    <span th:text="${customer.creatUser}">-</span>
</div>