<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="t=${#dates.createNow().time}">

    <head>
        <meta charset="UTF-8">
        <title>统计表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <style>
            body .table-title{
                font-size: 18px;
                background-color: rgb(204, 228, 252);
                text-align: center;
                height: 34px;
            }
        </style>
    </head>

    <body>
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 0">
            <input type="hidden" th:value="${year}" id="year"/>
                <input type="hidden" th:value="${params}" id="params"/>
                <div id="tableTitle" class="layui-layer-title table-title" th:text="${title}">统计表</div>
                <div style="padding-bottom: 5px;">
                    <table th:id="statistics- + ${year}" th:attr="lay-filter=statistics- + ${year}" lay-size="sm"></table>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/common/js/base_lib.js"></script>
        <script type="text/javascript" th:src="@{/common/js/commonJs.js (v=${t})}"></script>
        <script type="text/javascript" th:src="@{/views/sheet/js/statisticsSheet.js (v=${t})}"></script>
    </body>
</html>