.layui-card {
    padding: 0.5em 0.3em 0.5em 0.5em;
    margin-bottom: 3.2em;
}

.bill-invoice-title {
    display: block;
    color: #000000;
    min-height: 1.5em;
    line-height: 1.5em;
}

.bill-invoice-detail {
    display: block;
}

.layui-form-checkbox {
    width: 100%;
}

.layui-form-checkbox > i {
    top: 30%
}

li {
    padding: 1em 0;
    border-bottom: dashed 0.1em #cccccc;
}

/* 页面最下面的提交按钮 */
.page-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
}

.page-bottom > button {
    width: 100%;
    height: 3em;
    line-height: 3em;
}