html, body {
    background-color: #ffffff;
}

.empty-data {
    text-align: center;
}

.account-detail-item-check, .account-detail-item {
    display: inline-block;
    vertical-align: middle;
}

.bill-info-item {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: dashed 0.1em #cccccc;
}

.item-detail .should {
    margin-right: 1em;
}

.item-detail .actual {

}

.item-title {
    color: #000000;
}

/* 页面最下面的提交按钮 */
.page-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
}

.page-bottom > button {
    width: 100%;
    height: 3em;
    line-height: 3em;
}