html, body {
    background-color: #ffffff;
}

.invoice-body {
    position: relative;
    padding: 1em 0.5em;
    line-height: 2em;
}

.invoice-detail {
    margin-left: 2.5em;
    border-left: solid 0.1em #c9c9c9;
    padding-left: 1em;
    font-size: 0.9em;
}

.layui-anim.layui-icon {
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
}

.layui-form-radio div {
    width: calc(100% - 3em);
}

.invoice-choose-list li {
    border-bottom: dashed 0.1em #cccccc;
    padding: 0.5em 0;
}

.layui-form-radio {
    line-height: unset;
    padding-right: 0;
    cursor: pointer;
    font-size: 0;
    margin: 0;
    width: 100%;
}
