<!DOCTYPE html>
<html lang="en" th:with="t=${#dates.createNow().time}">
<head>
    <meta charset="UTF-8">
    <title>可发起流程列表</title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="device" content="width=device-width">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!-- 文件加载有先后顺序-->
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/common/css/mobileCommon.css">
    <link rel="stylesheet" href="/common/css/dropdown.css">
    <link rel="stylesheet" th:href="@{/mobile/common/css/pageHeader.css (v=${t})}" media="all"/>

    <script type='text/javascript' src="/common/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../../layuiadmin/layui/layui.js"></script>
    <script type="text/javascript" th:src="@{/mobile/common/constant.js (v=${t})}"></script>
    <script type="text/javascript" th:src="@{/mobile/common/banDefault.js (v=${t})}"></script>
    <script type="text/javascript" th:src="@{/mobile/common/util.js (v=${t})}"></script>
    <script type="text/javascript" th:src="@{/mobile/common/tool/pageBack.js}"></script>
    <script type="text/javascript" th:src="@{/mobile/common/flowLib.js (v=${t})}"></script>

</head>
<body>
<!-- 固定在最上面 顶部栏 -->
<div class="page-title">
    <span class="layui-icon layui-icon-left page-title-back"></span>
    <span class="page-title-name" id="apply-flow-name">申请流程</span>
</div>

<!-- 流程 -->
<div id="apply-flow-content" class="layui-form apply-flow-content">
    <!-- 主体、产品选择 -->
    <div id="choose-area" class="choose-area">
        <!-- 主体选择 -->
        <div id="entity-choose-item" class="layui-form-item" style="display: none">
            <label id="entity-label-name" class="flow-label-name" required="true">选择主体：</label>
            <div class="flow-label-content">
                <button id="entity-choose" class="layui-btn layui-btn-primary entity-choose">
                    <i class="layui-icon layui-icon-friends"></i>
                    <span id="entity-btn-name" class="btn-name">点击选择</span>
                    <input type="hidden" id="entity-id"/>
                </button>
            </div>
        </div>

        <!-- 产品选择 -->
        <div id="product-choose-item" class="layui-form-item" style="display: none">
            <label id="product-label-name" class="flow-label-name" required="true">选择产品：</label>
            <div class="flow-label-content">
                <button id="product-choose" class="layui-btn layui-btn-primary product-choose">
                    <i class="layui-icon layui-icon-template-1"></i>
                    <span id="product-btn-name" class="btn-name">点击选择</span>
                    <input type="hidden" id="product-id"/>
                </button>
            </div>
        </div>
    </div>

    <!-- 平台数据展示区域（暂时没有数据） -->
    <div id="platform-data"></div>

    <!-- 流程标签展示 -->
    <div id="flow-labels">
    </div>
</div>

<div class="apply-row">
    <button id="submit-flow" class="layui-btn btn-submit">提交申请</button>
</div>

</body>
<!-- 自定义的加载 放在最后加载 -->
<link rel="stylesheet" th:href="@{/mobile/flow/applyFlow/css/applyFlowDetail.css (v=${t})}" media="all"/>
<script type="text/javascript" th:src="@{/mobile/flow/applyFlow/js/applyFlowDetail.js (v=${t})}"></script>
</html>