<div class="layui-card-header panel_title">
    <b class="module_title" th:text="'产品' + ${dtos==null ? '' : '(' + #lists.size(dtos) + '个)'}"></b>
    <span id="addProductBtn" class="add_btn" th:if="${pagePermission['supplierProductEdit']} and ${dtos}">
        <i class="layui-icon layui-icon-add-circle" style="display: inline-block;position: static;" title="添加产品"></i>
    </span>
</div>
<div class="layui-card-body" id="productBody" th:style="${#lists.isEmpty(dtos)} ? '' : 'padding: 0; margin: 2px;'">
    <div th:if="${#lists.isEmpty(dtos)}">
        暂无数据
    </div>
    <div class="layui-collapse" lay-filter="" lay-accordion>
        <div th:each="dto,stat : ${dtos}" class="layui-colla-item">
            <div class="layui-colla-title"
                 data-my-title-tool="true"
                 data-my-open-left="true"
                 th:attr="data-my-id = ${dto.productId}, flow_ent_count = ${dto.flowEntCount},
                    data-my-right-tool = ${pagePermission['supplierProductEdit'] ? 'true' : 'false'}"
                 data-my-opts-type="1"
                 data-my-tool-right-icon="layui-icon-edit"
                 data-my-size="title-size-0"
                 th:text="${dto.productName}">
            </div>

            <div class="layui-colla-content" style="padding: 3px; border-bottom: 1px solid #e6e6e6;" >
                <div class="layui-colla-item">
                    <div class="layui-row" th:switch="${dto.productType}">
                        <label>产品类型：</label>
                        <input type="hidden" id="productTypeH" th:value="${dto.productType}"/>
                        <span th:text="${dto.productTypeName}"> </span>
                    </div>
                    <div class="layui-row">
                        <label>是否客户直连:</label>
                        <span th:text="${#bools.isFalse(dto.directConnect) ? '否' : '是'}"> </span>
                    </div>
                    <div class="layui-row">
                        <label>产品参数：</label>
                        <br />
                        <span th:id="'productParam'+${stat.index}"> </span>
                        <script th:inline="javascript">
                            var xml = [[${dto.productParam}]];
                            var id = [[${stat.index}]];
                            if (xml) {
                                $("#productParam" + id).html('');
                                $(xml).find("e").each(function() {
                                    var element = $(this);
                                    var key = element.attr("k");
                                    //读取节点属性
                                    var val = element.text();
                                    //读取节点的值
                                    $("#productParam" + id).html($("#productParam" + id).html() + key + ":" + val + "<br/>");
                                });
                            }
                        </script>
                    </div>
  					<div class="layui-row" th:if="${dto.productType != 4 && dto.productType != 5}">
                        <label>支持省份：</label>
                        <span th:text="${dto.reachProvince}"></span>
                    </div>
                    <div class="layui-row" th:if="${dto.productType != 4 && dto.productType != 5}">
                        <label>落地省份：</label>
                        <span th:text="${dto.baseProvince}"></span>
                    </div>
                    <div class="layui-row">
                        <label>结算币种：</label>
                        <span th:each="type : ${T(com.dahantc.erp.enums.CurrencyType).values()}" th:if="${type.code == dto.currencyType}" th:text="${type.name}"></span>
                    </div>
                    <div class="layui-row">
                        <label>结算方式：</label>
                        <span th:text="${dto.settleType == 0 ? '预购' : dto.settleType == 1 ? '预付' : dto.settleType == 2 ? '后付' : ''}"></span>
                    </div>
                    <div class="layui-row">
                        <label>最低套餐(元):</label>
                        <span th:text="${#numbers.formatDecimal(dto.lowdissipation,1,2)}"> </span>
                    </div>
                    <div class="layui-row">
                        <label>最低套餐(条):</label>
                        <span th:text="${dto.unitvalue}"> </span>
                    </div>
                    <div class="layui-row">
                        <label>单价:</label>
                        <span th:text="${dto.price}"> </span>
                    </div>
                    <div class="layui-row">
                        <label>单价有效期:</label>
                        <span th:text="${dto.priceTimeQuantum}"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>