<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="t=${#dates.createNow().time}">
<head>
    <meta charset="UTF-8">
    <title>账单操作</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/common/css/common.css" media="all">
    <link rel="stylesheet" href="/common/css/formSelects-v4.css" media="all">
    <link rel="stylesheet" th:href="@{/views/billsModify/css/listBillsPage.css (v=${t})}">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">

        <div id="bill-search" class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" for="billStatus">主体类型：</label>
                    <div class="layui-input-inline">
                        <select name="entityType" id="entityType" lay-filter="entityType"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" for="searchCompanyName">公司名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="searchCompanyName" PLACEHOLDER="请输入公司名称" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" for="searchProductName">产品名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="searchProductName" PLACEHOLDER="请输入产品名称" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" for="settleType">付费方式：</label>
                    <div class="layui-input-inline">
                        <select name="settleType" id="settleType" lay-filter="settleType">
                            <option value="">全部</option>
                            <option value="0">预付</option>
                            <option value="1">后付</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" for="searchProductName">员工姓名：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="realName" PLACEHOLDER="请输入员工姓名" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" for="billMonth">账单月份：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="billMonth" PLACEHOLDER="请选择账单月份" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" for="billStatus">账单状态：</label>
                    <div class="layui-input-inline">
                        <select name="billStatus" id="billStatus" lay-filter="billStatus"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="btn-search">查询</button>
                    <button type="reset" class="layui-btn layui-btn-primary" id="btn-reset">重置</button>
                    <button type="button" class="layui-btn layui-btn-danger" id="btn-delete">删除月份账单</button>
                </div>
            </div>
        </div>
        
        <div id="modifyBillsConfirm" style="display:none;margin-left: 20px;">
		    <table class="flow-view-table" border="1" cellpadding="0" cellspacing="0" style="width:360px;">
		        <tbody>
		            <tr class="flow-view-table-th">
		                <td class="flow-view-table-th" width="50%" >账单时间</td>
		                <td class="flow-view-table-th" width="50%" id="billsDate"></td>
		            </tr>
		            <tr class="flow-view-table-th">
		                <td class="flow-view-table-td">公司名称</td>
		                <td class="flow-view-table-td" id="customerName"></td>
		            </tr>
		            <tr class="flow-view-table-th">
		                <td class="flow-view-table-td">产品名称</td>
		                <td class="flow-view-table-td" id="productName"></td>
		            </tr>
		            <tr class="flow-view-table-th">
		                <td class="flow-view-table-td" style="text-align: right;">原平台成功数</td>
		                <td class="flow-view-table-td" style="text-align: right;">新平台成功数</td>
		            </tr>
		            <tr class="flow-view-table-th">
		                <td class="flow-view-table-td" id="oldPcount" style="text-align: right;"></td>
		                <td class="flow-view-table-td" id="newPcount" style="text-align: right;color: red;"></td>
		            </tr>
		            <tr class="flow-view-table-th">
		                <td class="flow-view-table-td" style="text-align: right;">原成本</td>
		                <td class="flow-view-table-td" style="text-align: right;">新成本</td>
		            </tr>
		            <tr class="flow-view-table-th">
		                <td class="flow-view-table-td" id="oldCost" style="text-align: right;"></td>
		                <td class="flow-view-table-td" id="newCost" style="text-align: right;color: red;"></td>
		            </tr>
                    <tr class="flow-view-table-th">
                        <td class="flow-view-table-td" style="text-align: right;">原成本单价</td>
                        <td class="flow-view-table-td" style="text-align: right;">新成本单价</td>
                    </tr>
                    <tr class="flow-view-table-th">
                        <td class="flow-view-table-td" id="oldUnitPrice" style="text-align: right;"></td>
                        <td class="flow-view-table-td" id="newUnitPrice" style="text-align: right;color: red;"></td>
                    </tr>
                    <tr class="flow-view-table-th">
                        <td class="flow-view-table-td" style="text-align: right;">账单有效账号</td>
                        <td class="flow-view-table-td" style="text-align: right;">当前有效账号</td>
                    </tr>
                    <tr class="flow-view-table-th">
                        <td class="flow-view-table-td" id="billLoginName" style="text-align: right;word-break: break-word"></td>
                        <td class="flow-view-table-td" id="nowLoginName" style="text-align: right;color: red;word-break: break-all"></td>
                    </tr>
		        </tbody>
		    </table>
		</div>

        <!-- 表格 -->
        <div class="layui-card-body">
            <table id="billList" lay-data="{id: 'entityid'}" lay-filter="billList"></table>
            <script type="text/html" id="table-row-opts">
                <div class="layui-btn-container">
                    <!--<button class="layui-btn layui-btn-xs layui-btn-warm" lay-event="update">
                        重新计算
                    </button>-->
                    <button class="layui-btn layui-btn-xs" lay-event="operate">
                        更多操作
                    </button>
                </div>
            </script>
        </div>
    </div>
</div>

<script src="/common/js/jquery-1.8.0.min.js"></script>
<script src="/common/js/jquery.i18n.properties-1.0.9.js"></script>
<script src="/layuiadmin/layui/layui.js"></script>
<script th:src="@{/common/js/commonJs.js (v=${t})}"></script>
<script src="/common/js/toolbar_lib.js"></script>
<script src="/common/js/formSelects-v4.js"></script>
<script th:src="@{/views/billsModify/js/listBillsPage.js (v=${t})}"></script>
</body>
</html>