<div class="layui-row">
    <label>名称:</label>
    <span th:text="${supplierInfo.companyName}">-</span>
</div>
<div class="layui-row">
    <label>法人:</label>
    <span th:text="${supplierInfo.legalPerson}"></span>
</div>
<div class="layui-row">
    <label>注册号:</label>
    <span th:text="${supplierInfo.registrationNumber}">-</span>
</div>
<div class="layui-row">
    <label>注册地址:</label>
    <span th:text="${supplierInfo.registrationAddress}">-</span>
</div>
<div class="layui-row">
    <label>通讯地址:</label>
    <span th:text="${supplierInfo.postalAddress}">-</span>
</div>
<div class="layui-row">
    <label>电话号码:</label>
    <span th:text="${supplierInfo.telephoneNumber}">-</span>
</div>
<div class="layui-row">
    <label>电子邮件:</label>
    <span th:text="${supplierInfo.email}">-</span>
</div>
<div class="layui-row">
    <label>公司网页:</label>
    <span th:text="${supplierInfo.website}">-</span>
</div>
<div class="layui-row">
    <label>业务联系人:</label>
    <span th:text="${supplierInfo.contactName}">-</span>
</div>
<div class="layui-row">
    <label>联系手机:</label>
    <span th:text="${supplierInfo.contactPhone}">-</span>
</div>
<div class="layui-row">
    <label>公司创立日期:</label>
    <span th:text="${supplierInfo.creationDate}">-</span>
</div>
<div class="layui-row">
    <label>注册资本(万元):</label>
    <span th:text="${supplierInfo.registeredCapital}">-</span>
</div>
<div class="layui-row">
    <label>公司性质:</label>
    <span th:text="${supplierInfo.corporateNature}">-</span>
</div>
<div class="layui-row">
    <label>税务号:</label>
    <span th:text="${supplierInfo.taxation}">-</span>
</div>
<div class="layui-row">
    <label>商务经理:</label>
    <span th:text="${supplierInfo.creatUser}">-</span>
</div>