<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="t=${#dates.createNow().time}">
<head>
    <meta charset="UTF-8">
    <title>ERP使用帮助</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/common/css/common.css" media="all">
    <link rel="stylesheet" th:href="@{/views/faq/css/faq.css (v=${t})}" media="all">
</head>
<body>
<div id="content">
    <div>
        <h1 style="padding: 20px">
            <i class="icon-pushpin" name="top"></i>ERP使用帮助
            <a class="down-help" href="javascript:window.open('/common/help/ERP_HELP.pdf')">查看帮助文档</a>
        </h1>
        <div>
            <a class="layui-icon layui-icon-top go-top" title="回到顶部" href="#top"></a>
            <ol class="faq-list">
                <li>
                    <h2>到款池的款太多的时候不是很好找有没有自己的款，有什么搜索或者筛选的办法？</h2>
                    <p>
                        V18版本已改进匹配范围，现在只要打款公司名，和登记的客户公司名，或者发票信息的客户公司名称匹配上即可自动发起销账。此外现在销管也有权限匹配到款到销售，匹配后也会自动发起流程，无需销售自行手动查找。如果实在特殊原因关联不上的，系统也会进一步改进手动关联体验。
                    </p>
                </li>
                <li>
                    <h2>有些客户没有自动对账单是怎么回事？</h2>
                    <p>
                        先检查产品账号填写是否正确，相关调价流程是否归档。相关信息确认无误后定位到产品，点击对账流程中的生成账单，选择相应月份即可。
                    </p>
                </li>
                <li>
                    <h2>OP账单和ERP账单差一分钱？</h2>
                    <p>
                        随着对账功能的完善，所有客户需要的订单和数据报告等内容均可以从ERP获取，并且OP获取渠道将关闭，所有资料依据全部以ERP系统为准。
                    </p>
                </li>
                <li>
                    <h2>需变更合同有效期切不需要上传新合同的怎么操作？</h2>
                    <p>
                        需新走一个合同评审流程，选取是否新签合同——否，系统将按照续签合同流程处理，盖章等节点自动通过，速度将比初次签订流程快速许多。
                    </p>
                </li>
                <li>
                    <h2>无法正常输入数据？</h2>
                    <p>
                        请仔细看系统给的提示，少数电脑在显示器发生分辨率变更时会产生此问题，请将电脑调至最佳分辨率，或点击对应的栏目名称拉宽当前栏目的操作空间即可正常填写。
                    </p>
                </li>
                <li>
                    <h2>对账流程中我司数据不对或者为空？</h2>
                    <p>
                        对账流程中包括了该客户下所有产品的的子账单，每个子账单数据因为时间或者其他问题导致数据有差距，可以在询问原因后可以重新刷新数据（刷新数据要保证在申请流程之前）。
                    </p>
                </li>
                <li>
                    <h2>对账数据有误，但还未销账，或已销账</h2>
                    <p>
                        提交一份八百字检讨后联系ERP助手解决。。。 （因已销账账单数据回滚涉及操作量巨大，请各位同事一定仔细，发现有误后及时告知撤回）
                    </p>
                </li>
                <li>
                    <h2>发现子账单的数据需要微调怎么办？ 想知道账单里多个账号的发送情况怎么办？</h2>
                    <p>
                        对账数据和客户数据都可以手动修改，我司数据无法修改只能刷新，对账单流程中的电子附件已经详细列出的了每个账号的发送情况。
                        当修改账单数据过后，电子附件需要再次手动生成。
                    </p>
                </li>
                <li>
                    <h2>为什么我总是收到调价邮件提醒？</h2>
                    <p>
                        申请调价流程时都有有效期选择，有的续签合同用户合同虽然已经走完，但是调价有效期已经过了，需要重新申请调价流程才可进行其他流程（参见使用手册） 注意，邮件提醒大多跟有效期或资料不齐全有关，请及时填补资料和补申请流程即可。
                    </p>
                </li>
                <li>
                    <h2>我的客户为什么降级了（降到意向客户/降到沉默客户/降到公共池客户）？</h2>
                    <p>
                        ERP系统采用销售漏斗功能管理销售客户，与客户的联系紧密程度将影响客户等级，详情参见使用手册升降级规则。
                    </p>
                </li>
                <li>
                    <h2>申请公共池客户有什么要求吗？</h2>
                    <p>
                        目前只要是公共池客户，所有销售均可申请。选中想要拓展的公共池客户后在运营栏点击申请流程，填入理由后即可发起申请。
                    </p>
                </li>
                <li>
                    <h2>客户需要详单导出、子号码申请、账号解禁、绿色客户申请、三网合一产品、敏感词排除、数据分析报告怎么办？</h2>
                    <p>
                        除分析报告可在对账流程点击生成外，其他需求需走客服特殊申请流程实现。详见手册。
                    </p>
                </li>
                <li>
                    <h2>属于我的客户的到款要怎样到我客户名下？</h2>
                    <p>
                        系统会根据客户信息中的客户名称、开票信息中的公司名称去匹配到款，每半个小时匹配一次（必须保证名称能一一对应）
                    </p>
                </li>
                <li>
                    <h2>为什么系统没有自动生成销账流程</h2>
                    <p>
                        到款是否已经关联到自己客户下。
                        客户根据到款匹配账单，但系统默认会从最早的账单销账，例如：4月一个一万元的，5月一个五千的账单，这时来了一笔五千的款，因为不能销4月款，则系统不会自动生成销账流程。
                    </p>
                </li>
                <li>
                    <h2>账单罚息怎么计算的</h2>
                    <p>
                        账单会根据客户的账期进行罚息计算，当系统发现账单逾期时 ，会动态计算罚息。例如4月一万元的账单，5月五千账单都逾期了，这时客户陆陆续续回了几笔款，
                        这个是时候系统会将回款算到最早的账单里计算罚息，但是如果销售手动把这几笔回款销了5月的账单，那么4月的罚息将会重新计算。只有账单销账后会计算出真正的罚息
                    </p>
                </li>
                <li>
                    <h2>运营成本费用都包含哪些内容？</h2>
                    <p>
                        运营成本的主要类型有：
                        每月固定运营费用：客户有固定增值服务需求的，如专线服务。
                        单条产品运营费用：公司每发送一条短信所产生的成本费用。
                        账单比例运营费用：以账单金额为基准按比例计算运营费用。
                        毛利润比例运营费用：以产生的毛利润为基准按比例计算费用。
                        以上根据客户的实际情况不同，各项费用的计算情况也各不相同。
                    </p>
                </li>
                <li>
                    <h2>我的预付费客户没有计息？</h2>
                    <p>
                        有的预付费客户由于长时间没有合作或历史遗留等原因，不计入计息账号。确认自己的客户符合计息要求后，如重新建立合作关系，可以跟销管沟通将客户移除不计息账号表，客户即可正常计息。
                    </p>
                </li>
                <li>
                    <h2>不计息账号的导入删除相关</h2>
                    <p>
                        现支持TXT，EXCEL等格式导入，注意无论什么格式一行只能有一个账号。删除可在网页中按下Ctrl+F键，输入想要删除的账号按回车，选中后即可点击删除。
                    </p>
                </li>
                <li>
                    <h2>我的客户为什么降级了？</h2>
                    <p>
                        现行降级规则如下：

                        1、合同客户，1个月没有联系日志，通知对应销售和部门领导，一个客户一个月只通知一次。
                        2、合同客户，合同到期前一个月，通知对应销售和部门领导，一个客户一个月只通知一次。
                        3、合同客户，合同到期后三个月还没有续签完成，且没有发送量，自动降级到测试客户，并通知相关销售和其上级。
                        4、测试客户，1个月没有联系日志，自动降级到意向客户，并通知相关销售和其上级。
                        5、意向客户，15日没有联系日志，自动降级到沉默客户，并通知相关销售和其上级。
                        6、沉默客户，3个月没有联系日志，自动降到公共池中，并通知相关销售和其上级。

                        注意除合同客户外，只要在跟客户积极沟通发展合作，便不会降级。
                    </p>
                </li>
                <li>
                    <h2>我的客户怎么升级？</h2>
                    <p>
                        现行升级规则如下：

                        1、公共池：销售选择公共池中的客户，进行申请，流程经审批同意后，系统自动将该客户升级到申请者名下潜在客户目录中，他人不再可见。
                        2、沉默客户：3个月有联系日志，且客户基本信息完善率高于一定阈值（手机+人名+职位、电话、QQ、微信、邮件等联系方式录入完整）系统自动升级到意向客户。
                        3、沉默客户：3个月有联系日志，且测试账号流程归档or该客户下产品有账号，系统自动升级到测试客户。
                        4、沉默客户：3个月有联系日志，且测试账号流程归档or该客户下产品有账号，且合同流程归档，系统自动升级到合同客户。
                        5、意向客户：15日有联系日志， 且测试账号流程归档or该客户下产品有账号，系统自动升级到测试客户。
                        6、意向客户：15日有联系日志， 且测试账号流程归档or该客户下产品有账号，且合同流程归档，系统自动升级到合同客户。
                        7、测试客户：1个月有联系日志，且合同流程归档（合同在有效期内），系统自动升级到合同客户。


                        注意符合多个升级要求的，按最高级客户处理。
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/common/js/jquery-1.8.0.min.js"></script>
<script src="/layuiadmin/layui/layui.js"></script>
<script th:src="@{/views/faq/js/faq.js (v=${t})}"></script>
<script>
	$(function () {
		$('.faq-list').goFaq();
	});
</script>
</body>
</html>
