<link rel="stylesheet" href="/views/settlement/css/settlement.css" media="all"/>
<div id="settlement_depart" class="layui-card">
    <div class="layui-card-header panel_title">
        <b class="module_title">结算</b>
    </div>
    <div id="settlement_body" class="layui-card-body">
        <div>暂无数据</div>
    </div>
</div>
<link rel="stylesheet" th:href="@{/views/operateProcess/css/flowCommon.css(v=${t})}" media="all">
<link rel="stylesheet" th:href="@{/views/operateProcess/css/applyFlowCommon.css(v=${t})}" media="all">
<script type="application/javascript" th:src="@{/common/js/md5.min.js(v=${t})}"></script>
<script type="application/javascript" th:src="@{/views/operateProcess/js/flowCommon.js(v=${t})}"></script>
<script type="application/javascript" th:src="@{/views/settlement/js/settlement.js(v=${t})}"></script>
