<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>年假规则</title>
</head>
<body>
<p>机关、团体、企业、事业单位、民办非企业单位、有雇工的个体工商户等单位的职工<span style="color: red;">连续工作1年以上的</span>，享受带薪年休假（以下简称年休假）。</p>
<p>职工累计工作：</p>
<ul>
    <li>已满1年不满10年的，年休假5天；</li>
    <li>已满10年不满20年的，年休假10天；</li>
    <li>已满20年的，年休假15天。</li>
</ul>
在此要求：
<ol>
    <li>必须提供<span style="color: red;">入职日期</span>，以确定是否入职满1年</li>
    <li>必须提供<span style="color: red;">参加工作日期</span>，以计算年假天数（这里使用毕业日期代替）</li>
</ol>
</body>
</html>