<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>部门管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../common/plugin/zTree_v3-master/css/zTreeStyle.css" media="all">
	<script type="text/javascript" src="/common/js/base_lib.js"></script>
</head>

<body>
	<input type="hidden" id = "isEditAble">
	<div class="layui-fluid">
		<div class="layui-card">
			<div id="tree" class="content_wrap">
				<div class="zTreeDemoBackground left">
					<ul id="treeDemo" class="ztree departMent"></ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/common/js/commonJs.js"></script>
	<script type="text/javascript" src="/common/js/toolbar_lib.js"></script>
	<script type="text/javascript" src="/common/plugin/zTree_v3-master/js/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="/common/plugin/zTree_v3-master/js/jquery.ztree.excheck.js"></script>
	<script type="text/javascript" src="/common/plugin/zTree_v3-master/js/jquery.ztree.exedit.js"></script>
	<script src="/views/account/department/js/department.js"></script>
</body>

</html>