<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="t=${#dates.createNow().time}">

    <head>
        <meta charset="UTF-8">
        <title>合同报表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <script type="text/javascript" src="/common/js/base_lib.js"></script>
        <style type="text/css">
            .layui-table-tool {
                position: relative;
                min-height: 35px;
                line-height: 25px;
                padding: 0;
                border-width: 0 0 1px;
                background-color: #CCE4FC;
            }
            .title-show {
                color: #0C0C0C;
                display: inline-block;
                font-size: 14px;
            }
            .table-title{
                text-align: center;
                height: 35px;
                line-height: 35px;
            }
            .my-table-tool {
                float: right;
            }
            .layui-table-tool-temp {
                padding-right: 0;
            }
            .layui-card-header.layuiadmin-card-header-auto {
                padding-bottom: 0;
            }
        </style>
    </head>

    <body>
        <div class="layui-card">
            <div id="param-search" class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 100px">
                        <label class="layui-form-label">合同名称：</label>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input id="contractName" type="text" name="contractName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 100px">
                        <label class="layui-form-label">合同编号：</label>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input id="contractId" type="text" name="contractId" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 100px">
                        <label class="layui-form-label">客户名称：</label>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input id="entityName" type="text" name="entityName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 100px">
                        <label class="layui-form-label">申请人：</label>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input id="realName" type="text" name="realName" autocomplete="off" class="layui-input">
                            <input type="hidden" id="ossUserId">
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 100px">
                        <label class="layui-form-label">申请日期：</label>
                    </div>
                    <div class="layui-inline" style="width: 100px">
                        <input type="text" class="layui-input layui-date-pointer" id="applyDate" readonly
                               onfocus="this.blur();">
                    </div>
                    <div class="layui-inline">~</div>
                    <div class="layui-inline" style="width: 100px">
                        <input type="text" class="layui-input layui-date-pointer" id="applyDateEnd" readonly
                               onfocus="this.blur();" />
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" th:text="是否在合同有效期：" style="padding: 9px 5px; width: fit-content;">是否在合同有效期</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="valid" id="valid" value="1" th:title="是"
                                   lay-skin="primary" checked>
                            <input type="checkbox" name="invalid" id="invalid" value="0" th:title="否"
                                   lay-skin="primary">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn" id="btn-search">查询</button>
                        <button type="reset" class="layui-btn layui-btn-primary" id="btn-reset">重置</button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container table-title">
                        <div class="title-show">合同报表</div>
                        <div class="layui-inline my-table-tool" title="导出Excel" lay-event="EXPORT_EXCEL"><i class="layui-icon layui-icon-export"></i></div>
                    </div>
                </script>
                <div style="padding-bottom: 5px;">
                    <table th:id="contractTable" th:attr="lay-filter=contractTable" lay-size="sm"></table>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/common/js/commonJs.js (v=${t})}"></script>
        <script type="text/javascript" th:src="@{/views/manageConsole/js/contractSheet.js (v=${t})}"></script>
    </body>
</html>