<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="t=${#dates.createNow().time}">
<head>
    <meta charset="UTF-8">
    <title>客户变更统计</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" media="all">
    <link rel="stylesheet" th:href="@{/common/icons/icon2/icon2.css (v=${t})}"/>
    <link rel="stylesheet" th:href="@{/views/manageConsole/css/customerChange.css (v=${t})}"/>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="table-title">
            <!-- 部门过滤 -->
            <div class="title-show dept-filter" id="dept-filter">
                <span class="icon-one icon-filter" title="点击过滤客户"></span>
                <input type="hidden" id="userIds" />
                <input type="hidden" id="deptIds" />
            </div>
            <!-- 时间过滤 -->
            <div id="yearSelect" class="title-show time-change">
                <span class="icon-one icon-clocks "></span>
            </div>
            <input id="year-month-data" type="hidden"/>
            <div class="title-show">
                客户变更记录统计表
            </div>

            <div class="title-legend">
                <span>图例：</span>
                <span><i class="icon2 icon-down-right"></i>降级到此级别</span>&nbsp;
                <span><i class="icon2 icon-up-right"></i>升级到此级别</span>&nbsp;
                <span><i class="icon2 icon-right-up"></i>从此级别升级</span>&nbsp;
                <span><i class="icon2 icon-right-down"></i>从此级别降级</span>
            </div>
        </div>

        <!-- 表格 -->
        <div class="table-show">
            <table id="customer-change-table"  lay-size="sm"></table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/base_lib.js"></script>
<script type="text/javascript" src="/common/js/commonJs.js"></script>
<script type="text/javascript" th:src="@{/views/manageConsole/js/customerChange.js (v=${t})}"></script>
</body>
</html>