<link type="text/css" th:href="@{/views/orderOperateDs/css/orderOperateDs.css (v=${t})}">
<div class="layui-card" layui-filter="price-collapse" id="priceCard">
    <!--<div class="layui-card-header panel_title">
        <b class="module_title">销售订单</b>
    </div>-->
    <div class="layui-card-body" id="recordBody">
        <div id="operate_pannel">
            <div>暂无数据</div>
        </div>
    </div>
</div>
<link rel="stylesheet" th:href="@{/views/operateProcess/css/flowCommon.css(v=${t})}" media="all">
<link rel="stylesheet" th:href="@{/views/operateProcess/css/applyFlowCommon.css(v=${t})}" media="all">
<link rel="stylesheet" th:href="@{/common/css/dropdown.css(v=${t})}" media="all">
<script type="application/javascript" th:src="@{/common/js/md5.min.js(v=${t})}"></script>
<script type="application/javascript" th:src="@{/views/orderOperateDs/js/flowCommon.js (v=${t})}"></script>
<script type="application/javascript" th:src="@{/views/operateProcess/js/applyFlowCommon.js (v=${t})}"></script>
<script type="application/javascript" th:src="@{/views/orderOperateDs/js/orderOperateDs.js (v=${t})}"></script>
<script type="application/javascript" th:src="@{/views/settlementDs/js/settlement.js (v=${t})}"></script>
